.card {
    width: 402px;
    height: 469px;
    background: #fff;
    border-radius: 12px;
    display: inline-block;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 2rem;
}

.card form {
    margin-top: 1rem;
    padding: 20px;
}

.drop {
    position: relative;
    width: 100%;
    height: 218.9px;
    background: #F6F8FB;
    border: 1px dashed #97BEF4;
    box-sizing: border-box;
    border-radius: 12px;
}

.drop > input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.drop img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.drop span {
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 0;
    right: 0;
    color: #BDBDBD;
}

.card form > span {
    display: block;
    color: #BDBDBD;
    margin-top: 1rem;
}

.btn {
    display: inline-block;
    width: 101px;
    height: 31.98px;
    background: #2F80ED;
    border-radius: 8px;
    text-align: center;
    margin-top: 1rem;
    position: relative;
}

.btn input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.btn span {
    display: inline-block;
    margin-top: .5rem;
    color: white;
    font-size: 12px;
}